<div class="jumbotron text-center">
	<h1>History</h1>	
</div>
<div style="margin-bottom: 10px">
	<input type="text" class="form-control" ng-model="searchText" placeholder="Search..." />
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				<a ng-click="order('Name')" >
					Name
					<span class="sortorder" ng-show="sortValue === 'Name'" ng-class="{reverse:reverse}"></span>
				</a>
			</th>
			<th>
				<a ng-click="order('Location')">
					Location
					<span class="sortorder" ng-show="sortValue === 'Location'" ng-class="{reverse:reverse}"></span>
				</a>
			</th>
			<th>
				<a ng-click="order(getBeerValue)">
					Value Units
					<span class="sortorder" ng-show="sortValue === getBeerValue" ng-class="{reverse:reverse}"></span>
				</a>
			</th>
			<th ng-show="showEdit">Edit</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="beer in beers | filter:searchText | orderBy:sortValue:reverse">
			<td>{{beer.Name}}</td>
			<td>{{beer.Location}}</td>
			<td><strong>{{getBeerValue(beer)}}</strong></td>
			<td ng-show="showEdit"><a href="#/edit/{{beer.$id}}">Edit</a></td>
		</tr>
	</tbody>
</table>

