<div class="jumbotron text-center">
	<h1>Login</h1>	
</div>
<div class="panel panel-info">
	<div class="panel-body">
		<form class="form" ng-hide="showLoggedIn" >
			<div class="form-group">
				<strong>Login with email</strong>
			</div>
			<div class="form-group">
				<label>email</label>						
				<input class="form-control" name="username" type="text" ng-model="email"/>					
			</div>
			<div class="form-group">
				<label>password</label>						
				<input class="form-control" type="password" name="password" ng-model="password"/>					
			</div>
			<div class="form-group">
				<input type="submit" ng-click="Login()" value="Login">
				<button ng-click="CreateNewUser()">Create New User</button>
			</div>
			<div class="form-group">
				<p ng-if="message">Message: <strong>{{ message }}</strong></p>
				<p ng-if="error">Error: <strong>{{ error }}</strong></p>
			</div>

		</form>
		<div class="form" ng-show="showLoggedIn">
			<div class="form-group">
				<p><strong>You have been logged in.</strong></p>
			</div>
			<div class="form-group">
				<p><a href="#profile">Visit Profile</a></p>
			</div>
		</div>

	</div>
</div>